h1{
    text-align: center;
}
ul{
    margin: 0;
}
nav{
    width:300px;
    margin: auto;
}
nav ul{
    padding: 0;
    margin-bottom: 5px;
}
nav li{

    list-style-type: none;
    text-align: center;
    border: 1px solid white;
    background: red;
    color: white;

}
nav a{
    text-decoration: none;
    display: block;
    padding: 5px 0;

}
#social-media-links{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
#social-media-links img{
    width: 25px;
    height: 25x;
}
#social-media-links ul{
    list-style-type: none;
    padding: 0;
}
#social-media-links li{
    width:30%;
    display: inline-block;
}
.header-img{
    width: 100%;
}
.header-img img{
    width:339px;
    height: 224px;
    margin-left: calc(50% - 169.5px)

}
.alert-info{
    width: 300px;
    margin: auto;
    text-align: center;
    background: orange;
}
footer{
    clear: both;
    height: 10px;
    width: 100vw;
    height: 4em;
    background: red;
    color: white;
    position: absolute;
    bottom: 0;
}
footer p{
    width: 40%;
    text-align: center;
    margin-bottom: 0;
    margin-left: 30%;
    margin-right: 30%;
}

footer *{
    border: 1px solid #000;
}
@media screen and (min-width: 786px){


}
@media screen and (min-width: 992px){
    h1{
        float: left;
        margin: 0;
    }
    nav{
        float: right;
    }
    nav li{
        display: inline-block;
        background: white;
        color: #848487;
    }
    footer p{
        width: 60%;
        text-align: left;
        float: left;
    }

    .hidden-on-desktop{
           display: none;
    }
    .header-img{
        clear:both;
    }
    .main{
        float: left;
        width: 40%;
    }
    .sub-section{
        float: right;
        width: 40%;
    }
    .header-img img {
        width: 890px;
        height: 385px;
        margin-left: calc(50% - 445px);
    }
}

@media screen and (min-width: 1200px){

}